            </div>
        </div>
        <div class="footer navbar-fixed-bottom">
            <div class="container">
                coded by Girges Scandar
            </div>
        </div>
    </body>
</html>
