<% include ../partials/header %>

<div class="form">
    <h1>edit comment</h1>
    <form action="/index/<%=post_id%>/comments/<%=comment._id%>?_method=PUT" method="post">
        <div class="form-group">
            <input type="text" name="comment[text]" placeholder="write a comment" value="<%=comment.text%>" required class="form-control">
        </div>
        <input type="submit" value="Post" class="btn btn-primary btn-block">
    </form>
</div>

<% include ../partials/footer %>
