<%include partials/header %>
<div class="landing text-center">
    <h1>WELCOME!</h1>
    <p>here you can add, edit, remove Posts <br/> also you can comment and discuss posts</p>
    <a href="/register">register</a>
    <a href="/login">login</a>
    <a href="/index">or view posts</a>
</div>
<%include partials/footer %>
